/* define colors */
:root {
  --primary-color: #a52e4d;
  --secondary-color: #228039;

  --red-color: #a52e4d;
  --green-color: #228039;
  --silver-color: #88808e;
}
@media(prefers-color-scheme: light) {
  :root {
    --primary-bg-color: #f0f0f0;
    --secondary-bg-color: #eeeeee;
    --foreground-color: #111111;
    --accent-color: #000000;
  }
}
@media(prefers-color-scheme: dark) {
  :root {
    --primary-bg-color: #111111;
    --secondary-bg-color: #131313;
    --foreground-color: #f0f0f0;
    --accent-color: #aaaaaa;
  }
}

/* font for all */
* {
  font-family: monospace;
  font-weight: 400;
  font-style: normal;
}

/* header */
.header {
  width: 96vw;

  padding: 0.5rem 2rem;
  gap: 0.5rem;

  background-color: var(--secondary-bg-color);
  color: var(--foreground-color);

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  border-radius: 10px;
}
@media(prefers-color-scheme: light) {
  .header {
    border-bottom: 2px solid var(--accent-color);
    box-shadow: 10px 10px 20px 2px rgba(0, 0, 0, 0.4);
  }
}
@media(prefers-color-scheme: dark) {
  .header {
    border-bottom: 2px solid var(--accent-color);
    box-shadow: 10px 10px 20px 2px rgba(255, 255, 255, 0.1);
  }
}

.last-updated-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
/* hide last updated container when width is too small */
@media(max-width: 852px) {
  .last-updated-container {
    display: none;
  }
}

.last-n-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

/* stat card */
.stat-outer-container {
  padding: 2.5rem 0;
  gap: 1rem;
}

.stat-card {
  width: 100vw;
  max-width: 45rem;
  border-bottom: 2px solid var(--accent-color);
}

/* chartist */
.ct-label {
  color: var(--foreground-color);
  opacity: 0.6;
}

.ct-grid {
  stroke: var(--accent-color);
  opacity: 0.2;
}

.ct-line {
  stroke-width: 2px;
}

.ct-point {
  stroke-width: 4px;
}

/* chartist series colors */
/* tinybox red */
.ct-series-a .ct-line,
.ct-series-a .ct-point {
  stroke: var(--red-color);
}
.ct-series-a .ct-area {
  fill: var(--red-color);
}
.ct-series-b .ct-line,
.ct-series-b .ct-point {
  stroke: var(--red-color);
}
.ct-series-b .ct-area {
  fill: var(--red-color);
}

/* tinybox green */
.ct-series-c .ct-line,
.ct-series-c .ct-point {
  stroke: var(--green-color);
}
.ct-series-c .ct-area {
  fill: var(--green-color);
}
.ct-series-d .ct-line,
.ct-series-d .ct-point {
  stroke: var(--green-color);
}
.ct-series-d .ct-area {
  fill: var(--green-color);
}

/* mac */
.ct-series-e .ct-line,
.ct-series-e .ct-point {
  stroke: var(--silver-color);
}
.ct-series-e .ct-area {
  fill: var(--silver-color);
}

/* fonts */
.megrim-regular {
  font-family: "Megrim", system-ui;
  font-weight: 400;
  font-style: normal;
}
